# Planning
PRD.md
DEMO-SCRIPT.md
demo-output
.claude
CURRENT*
thoughts

# dependencies (bun install)
node_modules

# output
out
dist
qa-tests
*.tgz
my-results
quick-test-output
python/outputs/*
python/src/denethor_rl/rewards/*
python/src/denethor_rl/utils/*

# deployment artifacts
lambda-deployment.zip
lambda-env.json 

# code coverage
coverage
*.lcov

# logs
logs
*.log
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
